.mi-btn{
    width: 500px;
    height: 70px;
}

.tiempo{
  font-size: 36px;
  font-family: 'beyond_the_mountains';
  text-align: center;
  background-color: grey;
  width: 300px;
  height: 60px;
  float: right;
}
.mili
{
  font-size: 25px;
}
.cuadro{
  width: 250px;
  height: 250px;
  font-family: 'olivier_demo';
  font-size: 14pt;
  border: black;
  border-style: solid;
}

.img { 
    width: 15%;
    height: 15%;
   }

     
.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
   }

.obj{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'beyond_the_mountains';
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }
.parpadeo {
    animation-name: parpadeo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { color: red; }
    50% { color: greenyellow; }
    75% { color: turquoise; }
    100% { color: red; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { color: red; }
    50% { color: green; }
    75% { color: blue; }
    100% { color: red; }
  }
  
  @keyframes parpadeo {  
    0% { color: red; }
    50% { color: green; }
    75% { color: blue; }
    100% { color: red; }
  }

button{
  font-family: 'olivier_demo';
  font-size: 18pt;
}

.signo{
  width: 50%;
  height: 50%;
  border: grey;
  border-style: solid;
}

.cabecera {
  padding: 15px;
  
}
.menu {
  width: 27%;
  float: left;
  padding: 15px;
  
}
.main {
  width: 46%;
  float: left;
  padding: 15px; 
  
}

.resultado{
  font-family: 'beyond_the_mountains';
    font-weight: bold;
    font-size: 30px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.rojoSec{
  background:#FF0000; /* Grey background */
}
.verdeSec{
  background: #00FF00; /* Grey background */
}

.azulSec{
  background: #0000ff;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
 /* background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.txt{
  font-family: 'Pixabubble';
  color:black;
  font-size: 20px;
}
.lbl{
  font-family: 'beyond_the_mountains';
  font-weight: bold;
  color:black;
  font-size: 20px;
}
.recuadro{
  width: 50px;
  height: 50px; 
  border: black;
  border-style: solid;
}