<div style="background-color:#232929;" class="parpadeo titulo">
        Mezclador de Colores
</div>
<br>


<div class='container' [hidden]='verifica'>
    <div class="cabecera"> 
        <button type="button" class="mi-btn btn-success" (click)='generarColor()'>Comenzar</button>
        <p  class="tiempo" readonly [hidden]='!empiezaElJuego'>{{cronometro}}<i class="mili">{{cronoMili}}</i></p> 
    </div>

  <div class="menu">
     <div [hidden]='!empiezaElJuego' style="color:whitesmoke" class="cuadro" [ngStyle]="{'background-color': mezclador.elColorSecreto}">Original</div>
  </div>
  <div class="menu">
        <div [hidden]='!empiezaElJuego' style="color:whitesmoke" class='cuadro' [ngStyle]="{'background-color': mezclador.elColorRespuesta}">Tu Respuesta</div>
    </div>

<div class="main">
    <div>
        <div class="menu">
            <button class="signo" style="background-color:red" [hidden]='!empiezaElJuego || mezclador.redTopeSuma'(click)='agregar(1)'>+</button>
            <button class="signo" disabled [hidden]='!empiezaElJuego || !mezclador.redTopeSuma'>+</button>
            <br>
            <button class="signo" style="background-color:red" [hidden]='!empiezaElJuego || mezclador.redTopeResta'(click)='agregar(4)'>-</button>
            <button class="signo" disabled [hidden]='!empiezaElJuego || !mezclador.redTopeResta'>-</button>
        </div>
        <div class="menu">
            <button class="signo" style="background-color:greenyellow" [hidden]='!empiezaElJuego || mezclador.greenTopeSuma'(click)='agregar(2)'>+</button>
            <button class="signo" disabled [hidden]='!empiezaElJuego || !mezclador.greenTopeSuma'>+</button>
            <br>
            <button class="signo" style="background-color:greenyellow" [hidden]='!empiezaElJuego || mezclador.greenTopeResta'(click)='agregar(5)'>-</button>
            <button class="signo" disabled [hidden]='!empiezaElJuego || !mezclador.greenTopeResta'>-</button>
        </div>
        <div class="menu">
            <button class="signo"  style="background-color:blue" [hidden]='!empiezaElJuego || mezclador.blueTopeSuma'(click)='agregar(3)'>+</button>
            <button class="signo" disabled [hidden]='!empiezaElJuego || !mezclador.blueTopeSuma'>+</button>
            <br>
            <button class="signo" style="background-color:blue"[hidden]='!empiezaElJuego || mezclador.blueTopeResta'(click)='agregar(6)'>-</button>    
            <button class="signo" disabled [hidden]='!empiezaElJuego || !mezclador.blueTopeResta'>-</button>
        </div>
        
            <br>
            <button type="button" class="mi-btn btn-success" [hidden]='!empiezaElJuego'(click)='verificar()'>Comprobar</button>
            <br>
            <button type="button" class="mi-btn btn-warning" [hidden]='!empiezaElJuego'(click)='restaurarValores()'>Reset</button>
        
    </div>
</div>
<!--<button type="button" class="btn btn-primary" mat-button alertdialog (click)="openDialog()">¿Cómo se juega?</button>-->

</div>


<div [hidden]='!verifica' class='container'>
    <div [ngStyle]="{'color': color}" class="resultado">{{resultado}}</div>
   <br>
   <div class="slidecontainer">
    <div class="lbl">Original</div>
    <div class="row">
        <br>
            <div class="row">
                   <div class="col-sm-4 txt" >Rojo <input type="range" min="1" max="255" value={{mezclador.redSecreto}} class="slider rojoSec" disabled id="rojoSec"></div>
                    <div class="col-sm-4 txt" >Verde <input type="range" min="1" max="255" value={{mezclador.greenSecreto}} class="slider verdeSec" disabled id="verdeSec"></div>
                    <div class="col-sm-4 txt" >Azul <input type="range" min="1" max="255" value={{mezclador.blueSecreto}} class="slider azulSec" disabled id="azulSec"></div> 
            </div>  
            <div class="col-sm-2"> </div>
            <div class="recuadro" [ngStyle]="{'background-color': mezclador.elColorSecreto}"></div>
    </div>
    <br>
    <div class="lbl">Respuesta</div>
    <div class="row">
        <br>
            <div class="row">
                   <div class="col-sm-4 txt" >Rojo <input type="range" min="1" max="255" value={{mezclador.redRespuesta}} class="slider rojoSec" disabled id="rojoSec"></div> 
                   <div class="col-sm-4 txt" >Verde <input type="range" min="1" max="255" value={{mezclador.greenRespuesta}} class="slider verdeSec" disabled id="verdeSec"></div>
                    <div class="col-sm-4 txt" >Azul <input type="range" min="1" max="255" value={{mezclador.blueRespuesta}} class="slider azulSec" disabled id="azulSec"></div>                    
            </div>             
            <div class="col-sm-2"></div>
            <div class="recuadro" [ngStyle]="{'background-color': mezclador.elColorRespuesta}"></div>
    </div> 
    <br><br>
    <button type="button" class="mi-btn btn-success" (click)='generarColor()'>Volver a jugar</button>    
</div>

