<div id ="que" class="container-fluid2   bg-2 text-center">

  
  <h3 class="margin">Seguime...</h3>
  <a href="https://www.facebook.com/camila.iglesiasguerrero"><i class="fa fa-facebook-official fa-2x" style="color:white"></i></a> 
  <a href="www.linkedin.com/in/camilaiglesiasguerrero"><i class="fa fa-linkedin-square	fa-2x"  style="color:white"></i></a>  
  <a href="https://github.com/camilaiglesiasguerrero"><i class="fa  fa-github	fa-2x"  style="color:white"></i></a>  
  <H1></H1>    
  <a href="mailto:camila.ig08@gmail.com?Subject=¡Hola!"><i class="fa fa-envelope-o"  style="color:white"></i></a>

</div>
<footer class="container-fluid bg-4 text-center">
  <p>2018</p> 
  
</footer>
