.s{
    border:solid;
}

.mi-btn{
    width: 500px;
    height: 70px;
}

a{
    font-family: 'Pixabubble';
    font-size: 24px;
}

.tiempo{
  font-size: 60px;
  font-family: 'beyond_the_mountains';
  text-align: center;
  width: 400px;
  height: 60px;
  float: right;
  margin-right: 23%;
  color: #FF8021;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 22px;
    font-family: 'Pixabubble';
}
#snackbar.Ganador {
    background-color: #059F2F;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.cuadro{
  width: 250px;
  height: 250px;
  font-family: 'olivier_demo';
  font-size: 14pt;
  border: black;
  border-style: solid;
}


     
.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
   }

.obj{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'beyond_the_mountains';
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }

button{
  font-family: 'olivier_demo';
  font-size: 18pt;
}

.signo{
  width: 50%;
  height: 50%;
  border: grey;
  border-style: solid;
}

.cabecera {
  padding: 15px;
  
}
.menu {
  width: 27%;
  float: left;
  padding: 15px;
  
}
.main {
  width: 46%;
  float: left;
  padding: 15px; 
  
}

.resultado{
  font-family: 'beyond_the_mountains';
    font-weight: bold;
    font-size: 30px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.rojoSec{
  background:#FF0000; /* Grey background */
}
.verdeSec{
  background: #00FF00; /* Grey background */
}

.azulSec{
  background: #0000ff;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
 /* background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.txt{
  font-family: 'Pixabubble';
  color:black;
  font-size: 45px;
}
.lbl{
  font-family: 'beyond_the_mountains';
  font-weight: bold;
  color:black;
  font-size: 20px;
}
.recuadro{
  width: 50px;
  height: 50px; 
  border: black;
  border-style: solid;
}


