<tr>
  <th><a (click)='Elegir(1)'><img class='img' src="../../../assets/imagenes/piedra.png" alt=""></a></th>
  <th><a (click)='Elegir(2)'><img class='img' src="../../../assets/imagenes/papel.png" alt=""></a></th>
  <th><a (click)='Elegir(3)'><img class='img' src="../../../assets/imagenes/tijera.png" alt=""></a></th>
<th>VS.</th>
  <th><img class='img' src="../../../assets/imagenes/piedra1.png" alt=""></th>
  <th><img class='img' src="../../../assets/imagenes/papel1.png" alt=""></th>
  <th><img class='img' src="../../../assets/imagenes/tijera1.png" alt=""></th>
</tr>

