h3{
  text-align: center;
  font-family: 'beyond_the_mountains';
}
.bg-1 { 
  background-color: #22735C; /* #00705ae5; /* Green */
  color: #ffffff;
 }
 
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
 }