<!--  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./QuienSoy#quien">Quien</a></li>
          <li><a href="/TP_LAV4_2017/QuienSoy#que">Ques es</a></li>
          <li><a href="./QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav>
-->

  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">¿Quién Soy?</h3>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle width='20'" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Camila Iglesias Guerrero</h3>
    <p>Licenciada en Criminalística. Futura Técnica en Programación. 
    </p>
  </div>
 
  <!--Div 2-->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Acerca de mí</h3><br>
<mat-accordion>
  <mat-expansion-panel  class = 'panel1' (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>Acerca de mí</mat-panel-title>
    <mat-panel-description>  </mat-panel-description>
  </mat-expansion-panel-header>
    <p>
        Amante del mate amargo, de alma viajera. Fanática de "El Principito", los juegos de mesa y los buenos libros.
     </p>
    <img src="./assets/imagenes/quiensoy1.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel class ='panel2' (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>¡¿Criminalística y Programación?!</mat-panel-title>
      <mat-panel-description>  </mat-panel-description>
    </mat-expansion-panel-header>
      <p>Sí. Si bien parece que no tienen nada que ver, tienen un punto de contacto. Lo que me gusta de las dos carreras 
        es que en ambos casos se busca aplicar la lógica y el análisis para la resolución de problemas. Me gusta afrontar nuevos retos y me motiva intentar dar
        solución a esos problemas cada vez más complejos. 
        <br>Todo lo que nos rodea está lleno de criminalística. Desde las medidas 
        de seguridad en simples documentos, pasando por la identificación de recién nacidos, el control de accesos, 
        el reconocimiento facial o de la voz, la prevención de fraudes, el análisis en delitos e infinidad de cosas más.
        <br>Por su lado, la programación buscar dar solución a necesidades más concretas. Pero no por eso surjen problemas menos complejos. 
    </p>
      <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </mat-expansion-panel>
  </mat-accordion>
  <div class="container-fluid2 bg-3">    </div>
  <!-- Third Container (Grid) 
  <div class="row">    
      <div class="col-sm-4">
      
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.jpg" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>

  
  -->
  <!-- Footer -->
  <div id ="que" class="container-fluid2   bg-2 text-center">
      <h3 class="margin">Seguime...</h3>
      <a href="https://www.facebook.com/camila.iglesiasguerrero"><i class="fa fa-facebook-official fa-2x" style="color:white"></i></a> 
      <a href="www.linkedin.com/in/camilaiglesiasguerrero"><i class="fa fa-linkedin-square	fa-2x"  style="color:white"></i></a>  
      <a href="https://github.com/camilaiglesiasguerrero"><i class="fa  fa-github	fa-2x"  style="color:white"></i></a>  
      <H1></H1>    
      <a href="mailto:camila.ig08@gmail.com?Subject=¡Hola!"><i class="fa fa-envelope-o"  style="color:white"></i></a>
    </div>
  <footer class="container-fluid bg-4 text-center">
    <p>2018</p> 
  </footer>