<h1 class="lateral Titulo">¡Los mejores juegos!</h1>

<mat-sidenav-container class="lateral">
    <mat-sidenav-content  style="font-size:12pt; text-align: center">¡Mezclador de colores!
        <img class="obj" src="../../../assets/imagenes/mezclador.png">
        <h2>¿Cuántas gotas de color agregarías para formar el que se te pide?</h2>
        <button type="button" class="btn btn-dark obj" (click)="Juego('MezcladorDeColores')">Jugar</button> 
    </mat-sidenav-content>
</mat-sidenav-container>

<br>

<mat-sidenav-container class="lateral">
        <mat-sidenav-content style="font-size:12pt; text-align: center">¡Agilidad aritmética!
            <img class="obj" src="../../../assets/imagenes/agilidad.png">
            <h2>¡Debés resolver el cálculo antes de que se termine el tiempo!</h2>
            <button class="obj" class="btn btn-dark obj" (click)="Juego('Agilidad')">Jugar</button>  
        </mat-sidenav-content>
    </mat-sidenav-container>