<!--<app-cabecera>  </app-cabecera>-->

<header>
<div  class= "cabecera">
    <br><h1>Exprimid<img  class="lateCerebro" src="../../../assets/imagenes/CEREBRO.png" width="50px">r
       de cerebr<img class="lateCerebro" src="../../../assets/imagenes/CEREBRO.png" width="50px">s    </h1>
    <!--class="parpadea"-->
    <h2>Sala de Juegos</h2>
</div>
  <br>
</header>


<body>

<div class= "container-fluid2"> </div>
<div id="contenedor">
  <div id="lateral">
      <app-menu (enviarDato)="Alertar($event)"></app-menu>
  </div>

<div class="col-md-5" id="principal">

    <mat-card>
        <mat-card-content>
          <mat-tab-group  [selectedIndex]="selectedIndex" class="demo-tab-group bg-2">
            <mat-tab label="Iniciar sesión">
              <div class="demo-tab-content">
                  <app-login (enviarDato)="irA($event)"></app-login>
              </div>
            </mat-tab>
            <mat-tab label="Registrarme">
              <div class="demo-tab-content">
                <app-registro></app-registro>
              </div>  
            </mat-tab>
            <!--<mat-tab label="Jugar como invitado">
                <div class="demo-tab-content">
                  <br>
              Tené en cuenta que no vas a poder jugar a todos los juegos! Tampoco vas a poder llevar tu ranking. 
              <br>
              <br>¿Todavía querés jugar como invitado? 
              <br>
              <br>
              <button type="button" class="btn btn-success"style="width: 20%" (click)="irA('iniciarSesion')">No, iniciar sesión</button>
              <button type="button" class="btn btn-primary"style="width: 20%" (click)="irA('registrarme')">Registrarme</button>   
              <button type="button" class="btn btn-danger" style="width: 20%" (click)="irA('jugarInvitado')">Sí</button>
              
              </div>
            </mat-tab>-->
            
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
</div>

</div>
</body>
<div id="snackbar">{{Mensaje}}</div>

<!--
  <div style="margin-left:25%;padding:1px;height:1000px;" class='container'>
    
  </div>
</body>
 
<div class="container" >
   
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
           
                <div class="media-body">
                    <div class="hero-text">
                        <h4 >Menú Principal</h4>
                    </div>
                 </div>
               
             
          </li>
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                    <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div class="media-body">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
          </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores</p>
              </div>
             
            </div> 
          </a>
        </li>
       
        
      </ul>
</div>
-->
