.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*border-radius: 5px; /* 5px rounded corners */
    max-width: 300px;
    height: 100%;
    margin: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #FF8021;
    text-align: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    /*border-radius: 5px 5px 0 0;*/
    width: 150px;
    height: 150px;
}/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.btn{
    font-family: 'Pixabubble';
    font-size: 18px;
}
.button{
   
    display: inline-block;
    width: 70%;
    padding: 5px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    font-family: 'Pixabubble';
    border: none;
    outline: 0;
 
    padding: 8px;
    color: white;
   /* background-color: #000;*/
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .lateral{
    background-color: #FF8021;
    margin-left: auto;
    margin-right:auto ;
    border-color: black;
    border-style: solid;
    font-family: 'Pixabubble';
}

.obj{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
    font-family: 'Pixabubble';
    font-size: 14pt;
    color: black;
}
h2{
    font-family: 'Pixabubble';
    font-size: 20pt;
    text-align: center;
}


