<body>
 <div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/agilidad.png" alt="Avatar" style="width:100%">
      <h2>Agilidad aritmética</h2>
      <p class="title">Juego de agilidad mental</p>
    
     <button class="btn btn-dark"  (click)="Juego('Agilidad')">Jugar</button>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt1.jpg" alt="Avatar" style="width:100%">
      <h2>Piedra, Papel o Tijera</h2>
      <p class="title">Juega contra la máquina</p>
      <button class="btn btn-dark"  (click)="Juego('ppt')">Jugar</button>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:100%">
      <h2>Adivina el número</h2>
      <p class="title">Juego de azar</p>
     <button class="btn btn-dark"  (click)="Juego('Adivina')">Jugar</button>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
      <h2>Anagrama</h2>
      <p class="title">Juego de vocabulario</p>
     <button class="btn btn-dark"  (click)="Juego('Anagrama')">Jugar</button>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/tateti.png" alt="Avatar" style="width:100%">
      <h2>TaTeTi</h2>
      <p class="title">Juego de estrategia</p>
     <button class="btn btn-dark"  (click)="Juego('Tateti')">Jugar</button>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/mezclador.png" alt="Avatar" style="width:100%">
      <h2>Mezclador de colores</h2>
      <p class="title">Juego de capacidad y agudeza visual</p>
     <button class="btn btn-dark"  (click)="Juego('Mezclador')">Jugar</button>
    </div>
</div>
</body>
  

<!--<app-footer></app-footer>-->