<!--<body>
 <div class="jumbotron">
    <h2 id="terminos">Terminos y condiciones</h2>
    <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
    <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
    <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
   
  </div>
  <strong><p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p></strong>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Acepto</button>
  <button  class="cancelbtn"  routerLink="/Principal" style="width:auto;">No acepto</button>
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>

    
        <div class="imgcontainer">
            <!--<img src="./assets/imagenes/BOTON_INICIARSESION.png" alt="Avatar"  width="30%" >
            <button class="btn mibtn" disabled>Registrarme</button>
          </div>
          
      <div class="container">
        <input type="text" placeholder="Usuario" name="email" required>
        <input type="password" placeholder="Clave" name="psw" required>
        <input type="password" placeholder="Repita la clave" name="psw-repeat" required>
        <button type="submit" class="signupbtn">Registrarme</button>
        
      </div>
    
  

  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
  </body>
-->


<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
 <!--<div class="container" >
  <div class="jumbotron"><!>style="padding:50px;">-->
    <form action="return true;">
        <div class="imgcontainer">
          <!--<img src="./assets/imagenes/BOTON_INICIARSESION.png" alt="Avatar"  width="30%" >-->
          <button class="btn mibtn" disabled>Registrarme</button>
        </div>
  
        <div class="container">
         <!-- <label><b>Usuario</b></label>-->
          <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>
  
         <!-- <label><b>Clave</b></label>-->
          <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
          <input type="password" placeholder="Reigrese la clave"  [(ngModel)]="claveRep" name="psw" required>
          
          <button   (click)="Entrar()" >Registrarme</button>
         <!--*ngIf="logeando"-->
          <!--<div *ngIf="!logeando" class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
                {{progresoMensaje}} - {{progreso}}%
              </div>
          </div>-->
      <div>
          <input type="checkbox" checked="checked"> Recordar mis datos 
      </div>
  <!--
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancelar</button>
          <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
         
        </div>
      --> 
      
    <!--</div>
  </div>-->