@font-face{
    font-family: 'beyond_the_mountains';
    src: url('../assets/fuentes/beyond_the_mountains.ttf')
}

@font-face{
    font-family: 'olivier_demo';
    src: url('../assets/fuentes/olivier_demo.ttf')
}

@font-face{
    font-family: 'Pixabubble';
    src: url('../assets/fuentes/Pixabubble.otf')
}
