<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->



    <h1>AGILIDAD ARITMETICA</h1>
    
    
     
    <br>        
    <br>
    <form class='form-inline formCenter' name="juego">
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">COMENZAR</button></h2>  
 
   
   <input [hidden]="ocultarVerificar" [(ngModel)]="nuevoJuego.numero1" name="numero1" type="text" class="form-control cuenta" align="middle" style="width:10%" readonly/>  
   <input [hidden]="ocultarVerificar"[(ngModel)]="nuevoJuego.operador" name="operador" type="text" class="form-control cuenta" style="width:10%" readonly/>
   <input [hidden]="ocultarVerificar"[(ngModel)]="nuevoJuego.numero2" name="numero2" type="text" class="form-control cuenta" style="width:10%" readonly/>
   <input [hidden]="ocultarVerificar" value = '=' type="text" class="form-control cuenta" style="width:10%" readonly/>
   <input [hidden]="ocultarVerificar" [(ngModel)]="nuevoJuego.respuesta" placeholder="Ingresá el resultado" name="respuesta" type="text" class="form-control respuesta" autofocus style="width:50%"/>
</form>    
   
 
  
<br><br>
<img src="../../assets/imagenes/relojArena.gif" [hidden]="ocultarVerificar" style='width: 3.5%'><i [hidden]="ocultarVerificar" class='timer'>  00:0{{Tiempo}}</i>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <h2 [hidden]="ocultarVerificar">
                <button [hidden]="ocultarVerificar" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button>
            </h2>
  </div>

        <div class="col-md">
            <h2 [hidden]="!finDelJuego">
                <button (click)="NuevoJuego()"  class="btn btn-info btn-lg">JUGAR DE NUEVO</button>
            </h2>    
        </div>
    </div>
</div>
    

    <div [hidden]="ocultarVerificar" id="snackbar">{{Mensajes}}</div>
