<!--<h1 mat-dialog-title>Cómo jugar agilidad aritmética</h1>
<div mat-dialog-content class = 'test'>
  <p>
    El juego consiste en resolver correctamente el cálculo proporcionado antes de que pasen los 5 segundos. 
    Para empezar a jugar cliqueá "Comenzar".  
  </p>  

</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button" class="btn btn-success">¡Entendido!</button>
</mat-dialog-actions>-->
<button (click)="Enviar()">Cómo se juega?</button>

<!--Reglas de juego
<p-dialog header="Reglas del Juego: {{Juego}}" [(visible)]="display" [modal]="true" [responsive]="true" [width]="550" [minWidth]="200"  [style]="{'font-family':'Pixabubble','font-size':'18pt','background-color': '#FF8021'}">
  <span>{{Regla}}</span>
      <p-footer>
          <button type="button" class="btn btn-success" (click)="display=false" ><i class="fa fa-check-square"></i> Entendido!</button>
      </p-footer>
</p-dialog>

<button type="button" class="btn btn-primary" (click)="showDialog()" pButton label="Show"><i class="fa fa-external-link-alt"></i>¿Cómo se juega?</button>
<!--Fin reglas de juego-->
