<div>
  <img src="../../../assets/imagenes/ANAGRAMA.gif" alt="Avatar" style="margin-left:190px;width: 70%">
</div>
<br>
<!--Reglas de juego

<p-dialog header="Reglas del Juego: Anagrama" [(visible)]="display" [modal]="true" [responsive]="true" [width]="550" [minWidth]="200" [minY]="70"  [style]="{'font-family':'Pixabubble','font-size':'18pt','background-color': '#FF8021'}">
  <span>El juego consiste en reordenar las letras para formar una palabra. Hacelo antes de que se termine el tiempo... <br>Para empezar a jugar hace clic en comenzar!</span>
      <p-footer>
          <button type="button" class="btn btn-success" (click)="display=false" ><i class="fa fa-check-square"></i> Entendido!</button>
      </p-footer>
</p-dialog>

<button type="button" class="btn btn-primary" (click)="showDialog()" pButton label="Show"><i class="fa fa-external-link-alt"></i>¿Cómo se juega?</button>
<!--Fin reglas de juego-->

<div class='container' [hidden]='verifica'>
  <div class="cabecera"> 
      <button type="button" class="mi-btn btn-success" (click)='generarPalabra()'>Comenzar</button>
      <p  class="tiempo" readonly [hidden]='!empiezaElJuego'>{{cronometro}}<i class="mili">{{cronoMili}}</i></p> 
  </div>
  
  <a class='txt' *ngFor="let letra of anagrama.palabraAMostrar">
    <b> {{letra}} </b>           
  </a>

<input [(ngModel)]='anagrama.palabraResultado' type="text">
<button (click)='Verificar()'>Verificar</button>
</div>